body {
  font-family: monospace;
  color: dark;
  margin: 0;
  padding: 1rem; }

header {
  position: relative; }
  header nav {
    padding: 1rem 2rem; }
    header nav a {
      padding: .5rem;
      color: lightgrey;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 1rem; }
      header nav a:hover {
        background-color: #676767; }

body {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "monserrat";
  min-height: 100vh;
  flex-wrap: wrap; }

/*estilo menu*/
#menu {
  justify-content: space-between;
  text-align: center; }

#menu ul li:hover {
  transform: scale(1, 2);
  transition: 800ms ease-out,opacity 300ms linear; }

#menu ul {
  list-style: none;
  margin: 2px;
  padding: 5px; }

#menu ul li {
  display: inline-block;
  padding: 2px; }

#menu ul li a {
  color: black;
  padding: 5px 60px;
  text-decoration: none; }

#menu ul li a:hover {
  transform: scale(2); }

/*estilos para los textos*/
h1 {
  font-family: monospace;
  text-align: left;
  font-size: 100px;
  margin-bottom: 20px;
  color: #555; }

h2 {
  font-family: "source-sans-pro";
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
  color: #FF8000; }

h3 {
  font-family: "source-sans-pro";
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
  color: #555; }

p {
  font-family: "source-sans-pro";
  font-size: 30px;
  text-align: left;
  padding: 3rem;
  color: #000; }

ul li {
  font-family: "source-sans-pro";
  font-size: 25px;
  text-align: center;
  justify-content: center;
  list-style: none;
  transform: skewX(-20deg);
  background-color: #ebe9f9;
  background: linear-gradient(to right, #ebe9f9 0%, rgba(216, 208, 239, 0.89) 23%, rgba(206, 199, 236, 0.84) 34%, rgba(197, 194, 235, 0.63) 78%, rgba(193, 191, 234, 0.63) 100%); }

.accesorios {
  font-family: "monserrat";
  font-size: 30px;
  text-align: center; }

.caracteristicas {
  font-family: "monserrat";
  font-size: 50px; }

.formularioDeContacto {
  font-family: "monserrat";
  text-align: "center";
  font-size: 40px;
  font-weight: bold; }

/*imagenes*/
.pictures {
  display: inline-flex;
  justify-items: center;
  width: auto;
  height: 400px;
  padding: 10px;
  margin-top: 150px;
  margin-top: 150px; }

.grid-layout main img {
  transition: all 0.5s linear;
  border-radius: 100%;
  align-items: center;
  width: 200px;
  height: auto; }

main img:hover {
  transform: scale(0.9);
  transition: all 0.5s linear; }

.card-group .card-body {
  background-image: url(../imagenes/fondo.jpg);
  margin-top: 150px;
  height: 500px;
  width: auto;
  padding: 1rem; }

/*FOOTER*/
.footer {
  bottom: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex-end; }

.footer img {
  width: 3%;
  height: 3%;
  align-content: space-around; }

.footer img:hover {
  transform: scale(1, 2);
  transition: 400ms; }

button:hover {
  background-color: #FE9A2E;
  border: 6px solid #555;
  transform: scale(1, 2);
  transition: 1400ms left; }
